<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users %>

<ul class="users">
  <%# @users.each do |user| %>
  <%#= render user %>
  <!--eachとuserの繰り返し処理を@usersだけで書き換えることができる。 Railsが自動保管してくれる。-->
  <%= render @users %>
  <%# end %>
</ul>

<%= will_paginate @users %>
<!--rails routesでコントローラー名を確認してほしい。
    コントローラー名のページネーションを表示したい場合は引数を省略することができる。-->